adium-theme-ubuntu==0.3.4
aniso8601==3.0.2
bcrypt==3.1.5
beautifulsoup4==4.4.1
blinker==1.4
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
decorator==4.0.6
ecdsa==0.13.3
enum34==1.1.6
Flask==1.0.2
Flask-Admin==1.5.3
Flask-Bcrypt==0.7.1
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
flask-restplus==0.12.1
Flask-SocketIO==3.1.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
functools32==3.2.3.post2
html5lib==0.999
idna==2.7
ipython==2.4.1
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
lxml==3.5.0
MarkupSafe==1.1.0
mysql==0.0.2
mysql-connector-python==2.0.4
MySQL-python==1.2.5
paramiko==1.16.0
pexpect==4.0.1
Pillow==5.4.0
ptyprocess==0.5
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0
pygobject==3.20.0
python-apt==1.1.0b1+ubuntu0.16.4.3
python-engineio==3.1.2
python-socketio==3.0.0
pytz==2018.5
requests==2.19.1
simplegeneric==0.8.1
six==1.12.0
SQLAlchemy==1.2.15
unity-lens-photos==1.0
urllib3==1.23
Werkzeug==0.14.1
WTForms==2.2.1
